body{
	padding: 10%;
	font-size: 1rem;
	background-color: white;
}
p{
	text-indent: 5rem;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	word-spacing: 0.5em;
	font-style: oblique;
	font-weight: bold;
	font-family: algerian;
	background-color: grey;
	font-variants: small-caps;
}
ol{
	list-style-type: circle;
}
a{
	text-decoration: none;
	cursor: help;
}
a:visted{
	color: brown;
}
a:active{
	color: red;
}